input {
  width: 100%;
  margin: 0;
}

h1 {
  font-size: xxx-large;
  color: #db202c;
  font-family: 'bebas_neueregular', Helvetica, Arial, sans-serif;
}

.hidden {
  display: none !important;
}

.top-margin {
  margin-top: 1rem;
}

.container {
  /* margin: auto; */
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
  padding: 0 0.75rem;
}

.column-half {
  width: 50%;
}

.test {
  padding-left: 3rem;
}

.rating {
  padding-top: 1rem;
  display: flex;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  h1 {
    font-size: 21px;
  }

  .test {
    padding-left: 0.75rem;
  }

  .column-full,
  .column-half {
    width: 100%;
  }

  .red-button {
    font-size: 12px;
  }

  .title {
    font-size: 16px;
  }

  .row {
    width: 100%;
    margin: 0;
  }

  .column-full {
    padding: 0 0.75rem;
    width: 100%;
  }

  .column-half {
    width: 50%;
  }

  .watchlist-heading {
    width: 60%;
  }

  .poster {
    justify-self: center;
    justify-content: center;
    justify-items: center;
  }

  .column-four {
    width: 50%;
  }

  .rating {
    padding-top: 1rem;
    display: unset;
  }

  .choose-rating {
    padding-bottom: 1rem;
  }
}
