input {
  width: 100%;
  margin: 0;
}

.hidden {
  display: none !important;
}

.top-margin {
  margin-top: 1rem;
}

/* .container {
  position: relative;
  padding: 0 1.5rem;
  margin: auto;
} */

.container {
  /* margin: auto; */
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .column-full,
  .column-half {
    width: 100%;
  }

  .red-button {
    font-size: 12px;
  }

  .title {
    font-size: 16px;
  }

  .row {
    width: 100%;
    margin: 0;
  }

  .column-full {
    padding: 0 0.75rem;
    width: 100%;
  }

  .column-half {
    width: 50%;
  }

  .watchlist-heading {
    width: 40%;
  }

  .mywatchlist {
    width: 60%;
  }

  .poster {
    justify-self: center;
    justify-content: center;
    justify-items: center;
  }

  .column-four {
    width: 50%;
  }
}
