input {
  width: 100%;
  margin: 0;
}

.hidden {
  display: none !important;
}

.container {
  margin: 0;
  position: relative;
  padding: 0 1.5rem;
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    /* background-attachment: fixed;
    background-position: center center;
    background-size: cover; */
    width: 100%;

    /* background-repeat: no-repeat;
    background-image: url("../images/homepage.jpg"); */
  }

  .column-full {
    padding: 0 0.75rem;
    width: 100%;
  }

  .column-half {
    width: 50%;
  }

  .watchlist-heading {
    width: 40%;
  }

  .poster {
    width: 50%;
  }
}
