input {
  background-color: #161a1d;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
  width: 500px;
  padding: 1rem;
  color: #b1a7a6;
}

button {
  border: none;
  background-color: #161a1d;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

p,
h4 {
  color: #b1a7a6;
  padding: 0.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'bebas_neueregular';
  src:
    url('../netflix-font/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../netflix-font/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.one-padding {
  padding: 1rem;
}

.column-four {
  width: 25%;
}

.flex-end {
  justify-content: flex-end;
}

.padding-075 {
  padding: 0 0.75rem;
}

.poster {
  margin: 1rem;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.background-image {
  background-image: url("../images/homepage.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  background-color: #161a1d;
  background-repeat: no-repeat;
  justify-content: center;
}

.homepage-title {
  filter: drop-shadow(5px 5px 5px black);
  padding: 1rem;
}

.search-bar {
  position: relative;
  display: flex;
}

.search-icon {
  position: absolute;
  color: #b1a7a6;
  right: 1rem;
  top: 1.25rem;
}

.search-icon-header {
  color: #db202c;
  right: 1rem;
  top: 1.25rem;
}

.search-button {
  background-color: #161a1d;
}

.align-center {
  align-content: center;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.search-page {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.background-color {
  background-color: #161a1d;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
}

.no-items {
  color: #b1a7a6;
  padding: 3rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.column-three-four {
  width: 75%;
}

.height-100 {
  height: 100vh;
}

.red-button:active {
  transform: scale(0.95);
  background-color: #660708;
}

.center {
  margin: 0 auto;
}

.bottom-padding {
  padding-bottom: 1rem;
}

.justify-even {
  justify-content: space-evenly;
}

.stars {
  color: #b1a7a6;
  padding-left: 1rem;
}

.star:hover ~ .star {
  color: #b1a7a6;
}

.stars:hover {
  color: #db202c;
}

.checked {
  color: #db202c;
}

.watchlist-stars {
  color: #b1a7a6;
}

button .search-button:active,
.mywatchlist-button :active {
  transform: scale(0.95);
}

.modal {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.overlay-shadow {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
}
