body {
  width: 100%;
}

input {
  background-color: #161a1d;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
  width: 500px;
  padding: 1rem;
  color: #b1a7a6;
}

button {
  border: none;
  background-color: #161a1d;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

p,
h4 {
  color: #b1a7a6;
  padding: 0.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
}

.background-image {
  background-image: url("../images/homepage.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  background-color: #161a1d;
  background-repeat: no-repeat;
  justify-content: center;
}

.homepage-title {
  filter: drop-shadow(5px 5px 5px black);
  padding: 1rem;
}

.search-bar {
  position: relative;
  display: flex;
}

.search-icon {
  position: absolute;
  color: #b1a7a6;
  right: 1rem;
  top: 1.25rem;
}

.search-icon-header {
  color: #db202c;
  right: 1rem;
  top: 1.25rem;
}

.search-button {
  background-color: #161a1d;
}

.align-center {
  align-content: center;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.search-page {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.movie-page {
  margin: 0 1rem 2rem;
}

.background-color {
  background-color: #161a1d;
}

.margin-0 {
  margin: 0;
  display: block;
}

/* .flex-start {
  justify-content: flex-start;
  justify-items: flex-start;
} */

.flex-column {
  flex-direction: column;
}

.movie-info {
  display: flex;
}

.one-padding {
  padding: 1rem;
}

.column-three-four {
  width: 75%;
}

.height-100 {
  height: 100vh;
}

.red-button {
  background-color: #db202c;
  border-radius: 1.25rem;
  padding: 1rem;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.watchlist-heading {
  /* width: 100%;
  height: 100%; */
}

.mywatchlist {
  width: 30%;
  height: 30%;
  margin: 1rem;
}

/* .block {
  display: flex;
} */
